@font-face {
  font-family: RobotoMono-Regular;
  src: url(/styles/fonts/Roboto/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: RobotoMono-Bold;
  src: url(/styles/fonts/Roboto/RobotoMono-Bold.ttf);
}

body {
  font-family: RobotoMono-Regular;
  margin: 0px;
  color: #fff;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;

}

img {
  max-width: 100%;
  display: block;
}
