

.introducao {
  max-width: 1920px;
  margin: auto;
  background-color: #151515;
  height: 675px;
  color: #c2c2c2;
}

.introducao-foto {
  width: 241px;
  height: 237px;
}

.introducao-container {
  display: grid;
  grid-template-columns: 300px 1250px;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

.container-img {
  display: flex;
  justify-content: end;
}

.container-h1_p {
  display: flex;
  max-width: 100%;
  justify-content: center;
  padding-left: 40px;
}

.container-h1_p img {
  display: inline-block;
}

.h1_p {
  max-width: 100%;
  font-size: 24px;
  width: 1250px;
  height: 105px;
}

.h1_p h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #fff;
}

.h1_p p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.h1_p span {
  color: #fff;
}

.container-redes_sociais img {
  width: 40px;
  height: 40px;
}

.container-redes_sociais img {
  background-color: #c2c2c2;
  border-radius: 4px;
  padding: 10px;
}

.container-seta {
  display: flex;
  justify-content: center;
  margin: 120px;
}

@media (max-width: 1500px) {
  .introducao-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
    gap: 20px;
  }

  .container-img {
    justify-content: center;
  }

  .container-h1_p {
    padding-left: 0;
    text-align: center;
  }

  .h1_p h1 {
    font-size: 1.75rem;
  }

  .h1_p p {
    font-size: 1.25rem;
  }
}

/* Responsivo para smartphones */
@media (max-width: 1224px) {
  .introducao-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .introducao-foto {
    width: 200px;
    height: 200px;
  }

  .h1_p h1 {
    font-size: 1.5rem;
  }

  .h1_p p {
    font-size: 1.15rem;
  }

  .container-redes_sociais img {
    width: 35px;
    height: 35px;
  }

  .container-seta {
    padding: 10px;
  }
}

@media (max-width: 464px) {
  .container-seta img {
    display: none;
  }

  .introducao-container {
    gap: 20px;
  }
}
